<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="CodeITDbContext" connectionString="metadata=res://*/IntrensicDB.csdl|res://*/IntrensicDB.ssdl|res://*/IntrensicDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=intrensic.cqentjdedg6z.us-west-2.rds.amazonaws.com;initial catalog=Intrensic;integrated security=False;User Id=Intrensic; password=1n7r3n51c;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>